<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"><style>.m_center_text{text-align:center;font-size:20pt;margin:5px}.m_bold_text{font-weight:bold}.m_card{padding:10px;border-style:solid;width:400px;text-align:center}.m_w100px{width:100px}</style></head><body><u></u>



    
    
    
    
    
    


<div>
    <div id="m_app" class="m_card">
        <div><input type="text" class="m_center_text"></div>
        <div class="m_center_text m_bold_text">+</div>
        <div><input type="text" class="m_center_text"></div>
        <div><button class="m_center_text m_w100px">=</button></div>
        <div class="m_center_text">{{state.result}}</div>
        <div>{{state.num1}} + {{state.num2}} = {{result}}</div>
    </div>
</div>

</body></html>